.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: var(--blanco);
}

.form {
    background-color: var(--primario);
    padding: 3rem;
    border-radius: 1rem;
    width: 430px;
    max-width: 90%;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.logo {
    background-color: var(--blanco);
    align-self: center;
    padding: 1rem;
    border-radius: 50%;
}

.inputGroup {
    width: 80%;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.inputGroup label {
    margin-bottom: 0.5rem;
    align-self: flex-start;
    color: var(--blanco);
}

.input {
    outline: none;
    border: none;
    width: 100%;
    padding: .8rem;
    background-color: var(--blanco);
    color: var(--primario);
    border-radius: .5rem;
}

.button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: none;
    margin-top: 2rem;
    width: 50%;
    padding: 0.8rem;
    font-weight: 500;
    background-color: var(--secundario);
    color: var(--negro);
    border-radius: .5rem;
    cursor: pointer;
    transition: .3s ease-in-out;
}

.button:hover {
    filter: saturate(2);
}