:root {
  --primario: rgb(82, 0, 126);
  --gris: rgb(118, 124, 147);
  --secundario: rgb(120, 255, 161);
  --claro: rgb(207, 207, 207);
  --blanco: #fff;
  --negro: #333;
  --red: rgb(255, 93, 93);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}